<html>
<head>
  <title>Developer Support Server</title>
</head>
<body>
  <h1>Developer Support Server</h1>
  <ul>
    <li><a href="/gerrit">Gerrit</a></li>
    <li><a href="/nexus">Nexus</a></li>
    <li><a href="/jenkins">Jenkins</a></li>
    <li><a href="/staging">Staging</a></li>
  </ul>
</body>
</html>
